<header>
    <div id="barra-1">
        <p>"Viver é dramático, mas não há escapatória: nasce-se." </p> 
        <a href="/login"> <img src="/img/pergunta.svg" alt="pergunta"> Central do funcionário</a>
    
    </div>
    <div id="logo">
        <a href="/"><img class="livro" src="/img/logo2.png" alt="logo" width="200" height="80"></a>
    
        <div id="usuario"><a href="/login"><img src="/img/usuario.svg" alt=""> Olá, faça login.</a></div>
    </div>
    <nav>
        <div id="place"><img src="/img/local.svg" alt="local"> <p>Seja bem-vindo!</p> </div>
        <div id="navegar">
            <ul>
                <li><a href="/quemSomos">Quem somos</a></li>
            </ul>
        </div>
    </nav>
</header>