<h1 class="d-flex justify-content-center mb-5 mt-4">Faça já seu cadastro.</h1>
<form id="cad" action="/cadastro" method="POST" class="form row g-3 needs-validation" novalidate>
  <div class="col-md-6">
    <label for="validationCustom01" class="form-label" >Nome</label>
    <input type="text" class="form-control" id="nome" name="name" required>
    <div class="valid-feedback">
      !
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom02" class="form-label">Sobrenome</label>
    <input type="text" class="form-control" id="sobrenome" name="sobrenome" required>
    <div class="valid-feedback">
      !
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustomUsername" class="form-label">Username</label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend">@</span>
      <input type="text" class="form-control" id="user" name="login" aria-describedby="inputGroupPrepend" required>
      <div class="invalid-feedback">
        Escolha um user.
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">Senha</label>
    <input type="password" class="form-control" id="senha" name="senha" required>
  
    <div class="invalid-feedback">
      Escolha uma senha.
    </div>
  </div>
  
 
  
  <div class="col-12">
    <button class="btn btn-success" type="submit" value="Cadastrar">Cadastrar</button>
  </div>
</form>

<script>
    
(function () {
  'use strict'
  var forms = document.querySelectorAll('.needs-validation')
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>