<div class="card m-5" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title"> <b style="color: red;">  {{livro.titulo}}</b></h5>
    <h6 class="card-subtitle ab-2 ">Ano de lançamento: {{livro.ano}}</h6>
    <p class="card-text">Avaliação: {{livro.nota}}</p>
    <a href="/dadosLivros" class="btn btn-success">Voltar</a>
  </div>
</div>