<div class="card mt-5" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{livro.titulo}}</h5>
    <h6 class="card-subtitle ab-2 ">{{livro.ano}}</h6>
    <p class="card-text">{{livro.nota}}</p>
    <a href="/dadosLivros" class="btn btn-primary">Voltar</a>
  </div>
</div>