<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/img/welcome.gif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/quote1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/img/quote2.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<article>
  <p>O site para você que sabe viver o melhor do mundo da leitura! </p>
</article>
<div id="infos">
    <ul>
        <li> <b>5.838.381</b> leitores</li>
        <li><b> 23.870.721</b> livros avaliados</li>
    </ul>
</div>
<div id="texto2">
    <p>Não deixe para depois, registre agora sua última leitura e sua opinião sobre. </p>
    
    <a href="/cadastro"><button  type="button" class="btn btn-dark btn-lg">Criar conta</button></a>
</div>
