<body class="text-center">

  <main class="form-signin w-100 m-auto">
    <form>
      <img class="mb-2" src="/img/logo.png" alt="logo leitura virtual" width="150" height="150">
      <h1 class="h3 mb-3 fw-normal"> Área do Funcionário</h1>

      <div class="form-floating" >
        <input type="text" placeholder="login" id="login" required>
      </div>
      <div class="form-floating">
        <input type="password" placeholder="senha" id="senha" required>
      </div>

      <button class="w-100 btn btn-lg btn-success" type="submit" onclick="logar(); return false">Entrar</button>

    </form>
  </main>
  <script>
  function logar (){
    const login = document.getElementById("login").value;
    const senha = document.getElementById("senha").value;
    if (login == "" || senha == ""){
        alert('Preencha todos os campos')
    }
    else if (login == "funcionario1" && senha == "364270") {
      location.href = './dados';
    } else {
     location.href = './pagUsuarios';
    
    }
    
}
  </script>


 


</body>
