 <body class="text-center">
    
<main class="form-signin w-100 m-auto">
  <form>
    <img class="mb-2" src="/img/logo.png" alt="logo leitura virtual" width="150" height="150">
    <h1 class="h3 mb-3 fw-normal">Entre na sua conta</h1>

    <div class="form-floating">
      <input type="user" class="form-control" id="floatingInput" placeholder="digite seu user" required>
      <label for="floatingInput">user</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="senha" required>
      <label for="floatingPassword">senha</label>
    </div>

    
    <button id="bot" onclick="entrar()" class="w-100 btn btn-lg btn-success" type="submit" >Entrar</button>
  
  </form>
</main>
<script>
    const login = funcionario1
    const senha = 364270
    const user = document.getElementById(floatingInput)
    const password = document.getElementById(floatingPassword)

    
    

</script>

