
<h2 id="livro-h2">Avalie aqui o livro que você leu: </h2>
<form id="add-livro"  action="/pagUsuarios" method="POST">

<div class="mb-3">
  <label for="titulo" class="form-label">Título</label>
  <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Escreva o título do livro" required>
</div>
<div class="mb-3">
  <label for="ano" class="form-label">Ano de lançamento</label>
  <input type="text" class="form-control" id="ano" name="ano" placeholder="xxxx" required>
</div>
<div class="mb-3">
  <label for="genero" class="form-label">Gênero</label>
  <input type="text" class="form-control" id="genero" name="genero" placeholder="ex: romance" required>
</div>
<div class="mb-3">
  <label for="nota" class="form-label">Nota (de 1 a 5)</label>
  <input type="text" class="form-control" id="nota" name="nota" placeholder="5" required>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
<button type="submit" class="btn btn-outline-info">Adicionar</button>
 
</div>
</form>



