<!--MAIN-->
<main>

<!-- SOBRE -->
<section id="sobre">


<img class="foto1" src="/img/books.png" alt="" width="300px">

<div class="text">

<p class="section-text">


Desde 1985 trabalhamos com a firme convicção de que o livro é ferramenta essencial para uma Educação
melhor para todos.


Como já disse Ziraldo, “estudar é muito importante, mas ler é ainda mais”.

Claro que nosso querido escritor e cartunista queria ressaltar a virtude da leitura como fator de
compreensão de texto, sem o qual o conhecimento fica muito limitado.

Formar leitores e desenvolver o hábito da leitura são as razões de existir a Livraria Virtual.
Fazemos isso todos os dias, exercendo nossa missão e visão a cada atendimento, entendendo que cada
livro vendido e lido contribui para alcançarmos nosso objetivo principal: Aumentar os leitores.

E quando chegarmos lá, saberemos que a Livraria Virtual contribuiu para esse avanço, com um sorriso
no rosto e
um livro na mão.

Mesmo com a pandemia que tanto tem afetado o mundo inteiro, seguimos com toda a força e motivação
para alcançar nossos objetivos.

Ótima leitura a todes.
</p>
</div>
</div>
</section>
<!-- END SOBRE -->

</main>
<!-- END MAIN -->