<div class="card mt-5" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{user.name}}</h5>
    <h6 class="card-subtitle ab-2 ">{{user.sobrenome}}</h6>
    <p class="card-text">{{user.login}}</p>
    <a href="/" class="btn btn-primary">Go somewhere</a>
  </div>
</div>